<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
</head>

<body style="margin: 0; padding: 0; width: 100%; background-color: #f7f7f7">
  <div style="margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td style="padding: 20px 15px 0 15px">
            <div align="center">
              <table border="0" cellpadding="0" cellspacing="0" width="660">
                <tbody>
                  <tr>
                    <td bgcolor="#ffffff" style="
                          padding: 24px 14px 0 14px;
                          border-top-left-radius: 4px;
                          border-top-right-radius: 4px;
                        ">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed">
                        <tbody>
                          <tr>
                            <td align="left" style="
                                  font-family: 'Helvetica Neue', Helvetica,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  color: #707070;
                                  font-weight: normal;
                                  line-height: 16px;
                                ">
                              <%= tripDate %> <br />
                            </td>
                            <td align="right" style="padding: 0 0 5px 0">
                              <a href="" style="float: right">
                                <img width="76" style="
                                      display: inline;
                                      float: none;
                                      text-align: center;
                                      width: 76px;
                                    " src="<%= companyLogo %>" alt="<%= companyName %>" class="img" />
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#ffffff" align="center" style="
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 40px;
                          font-weight: bold;
                          color: #000000;
                          padding-right: 10px;
                          padding-left: 15px;
                        ">
                      <%= currency %> <%= finalFare %>
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#ffffff" align="center" style="
                          padding-right: 20px;
                          padding-left: 20px;
                          padding-bottom: 2px;
                          font-family: Helvetica, 'Helvetica Neue', Arial,
                            sans-serif;
                          color: #777777;
                        ">
                      <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                          <tr>
                            <td align="center" style="
                                  padding-top: 10px;
                                  background-image: url('https://wrapspeedtaxi.com/public/email_images/bg.png');
                                  background-position: center 100%;
                                  background-repeat: no-repeat;
                                ">
                              <span style="
                                    background-color: #ffffff;
                                    padding-top: 0px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    font-size: 14px;
                                    font-family: 'Helvetica Neue', Helvetica,
                                      Arial, sans-serif;
                                    color: #707070;
                                  ">
                                &nbsp;&nbsp;&nbsp;<%= tripId %> &nbsp;&nbsp;&nbsp;<br />
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#ffffff" align="center" style="
                          font-family: Helvetica, Helvetica Neue, Arial,
                            sans-serif;
                          font-size: 14px;
                          word-spacing: -0.3px;
                          color: #000000;
                          padding-bottom: 0px;
                          padding-top: 17px;
                        ">
                      Thanks for travelling with us, <%= riderName %>
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#ffffff" align="center" style="padding-left: 16px; padding-right: 16px">
                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                            <td style="
                                  border-bottom: 3px solid #ececec;
                                  width: 100%;
                                  text-align: center;
                                  color: #ffffff;
                                ">
                              <!-- <img src=" " style="width: 100%" class="img" /> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 0 15px 0 15px">
            <table border="0" cellpadding="0" cellspacing="0" width="660">
              <tbody>
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td bgcolor="#ffffff" valign="top" style="
                                padding-top: 28px;
                                padding-bottom: 0;
                                padding-left: 0px;
                                padding-right: 0px;
                              ">
                            <table cellpadding="0" cellspacing="0" border="0" width="49.5%" align="left">
                              <tbody>
                                <tr>
                                  <td style="
                                        padding-left: 14px;
                                        padding-right: 14px;
                                      ">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" style="
                                                font-family: Helvetica,
                                                  'Helvetica Neue', Arial,
                                                  sans-serif;
                                                color: #333333;
                                                font-size: 16px;
                                                padding-bottom: 16px;
                                                font-weight: bold;
                                              ">
                                            Ride Details
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center">
                                            <img width="298px" height="298px" alt="Route" src="<%= routeMap %>" />
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="padding: 9px 0 0 0">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td valign="top" style="
                                                        border-bottom: 1px solid
                                                          #eeeeee;
                                                        padding-bottom: 10px;
                                                        padding-left: 14px;
                                                      ">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%"
                                                      style="width: 100%" align="left">
                                                      <tbody>
                                                        <tr>
                                                          <td align="left" style="
                                                                width: 42px;
                                                                padding-left: 2px;
                                                              " width="42">
                                                            <img height="50" style="
                                                                  height: 50px;
                                                                " src="<%= driverProfilePic %>" alt="<%= driverName %>"
                                                              class="img" />
                                                          </td>
                                                          <td align="left" style="
                                                                padding-left: 16px;
                                                              ">
                                                            <table>
                                                              <tbody>
                                                                <tr>
                                                                  <td style="
                                                                        font-family: Helvetica,
                                                                          'Helvetica Neue',
                                                                          Arial,
                                                                          sans-serif;
                                                                        color: #000000;
                                                                        font-size: 16px;
                                                                        line-height: 18px;
                                                                      ">
                                                                    <%= driverName %>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td style="
                                                        color: #ffffff;
                                                        line-height: 12px !important;
                                                        font-size: 10px !important;
                                                      ">
                                                    <!-- <img
                                                        src=" "
                                                        style="width: 100%"
                                                        class="img"
                                                      /> -->
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td valign="top" style="
                                                border-bottom: 1px solid #eeeeee;
                                                padding-bottom: 7px;
                                                padding-left: 14px;
                                                padding-top: 5px;
                                              ">
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%"
                                              style="width: 100%" align="left">
                                              <tbody>
                                                <tr>
                                                  <td align="left" style="
                                                        width: 42px;
                                                        padding-left: 2px;
                                                      " width="42">
                                                    <img width="38" style="width: 38px"
                                                      src="https://wrapspeedtaxi.com/public/email_images/car.png" alt=""
                                                      class="img" />
                                                  </td>
                                                  <td align="left" style="
                                                        padding-top: 4px;
                                                        font-family: Helvetica,
                                                          'Helvetica Neue',
                                                          Arial, sans-serif;
                                                        color: #000000;
                                                        font-size: 14px;
                                                        padding-left: 16px;
                                                        line-height: 16px;
                                                      ">
                                                    <%= fleetType %> - <%= fleetDetail %>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr style="
                                              vertical-align: top;
                                              text-align: left;
                                              display: block;
                                              background-color: #ffffff;
                                              padding-bottom: 10px;
                                              padding-top: 5px;
                                            " align="left" bgcolor="#ffffff">
                                          <td style="
                                                word-break: break-word;
                                                border-collapse: collapse !important;
                                                vertical-align: top;
                                                text-align: left;
                                                display: inline-block;
                                                padding: 10px 0 0 14px;
                                              " align="left" valign="top">
                                            <table style="
                                                  border-spacing: 0;
                                                  border-collapse: collapse;
                                                  vertical-align: top;
                                                  text-align: left;
                                                  width: auto;
                                                  padding: 0;
                                                ">
                                              <tbody>
                                                <tr style="
                                                      vertical-align: top;
                                                      text-align: left;
                                                      width: 100%;
                                                      padding-top: 5px;
                                                    " align="left">
                                                  <td style="
                                                        word-break: break-word;
                                                        border-collapse: collapse !important;
                                                        vertical-align: top;
                                                        text-align: left;
                                                        display: table-cell;
                                                        width: 80px !important;
                                                        line-height: 16px;
                                                        height: auto;
                                                        padding: 0 0 0 0;
                                                      " align="left" valign="top">
                                                    <span style="
                                                          font-size: 14px;
                                                          font-family: Helvetica,
                                                            'Helvetica Neue',
                                                            Arial, sans-serif;
                                                          font-weight: normal;
                                                          color: #000000 !important;
                                                        ">
                                                      <span>
                                                        <a style="
                                                              text-decoration: none !important;
                                                              color: #000000 !important;
                                                            " rel="noreferrer"><%= fromTime %> </a>
                                                      </span>
                                                    </span>
                                                  </td>
                                                  <td rowspan="2" style="
                                                        word-break: break-word;
                                                        border-collapse: collapse !important;
                                                        vertical-align: top;
                                                        text-align: left;
                                                        display: table-cell;
                                                        width: 17px !important;
                                                        padding: 3px 2px 10px
                                                          2px;
                                                      " align="left" valign="top">
                                                    <img width="6" height="105px"
                                                      src="https://wrapspeedtaxi.com/public/email_images/mark.png"
                                                      style="
                                                          outline: none;
                                                          text-decoration: none;
                                                          float: left;
                                                          clear: both;
                                                          display: block;
                                                          width: 6px !important;
                                                          height: 105px;
                                                          padding-top: 5px;
                                                        " align="left" class="img" />
                                                  </td>
                                                  <td style="
                                                        word-break: break-word;
                                                        border-collapse: collapse !important;
                                                        vertical-align: top;
                                                        text-align: left;
                                                        display: table-cell;
                                                        width: 197px;
                                                        line-height: 16px;
                                                        height: 57px;
                                                        padding: 0 10px 10px 0;
                                                      " align="left" valign="top">
                                                    <span style="
                                                          font-size: 14px;
                                                          font-family: Helvetica,
                                                            'Helvetica Neue',
                                                            Arial, sans-serif;
                                                          color: #000000 !important;
                                                          line-height: 16px;
                                                          text-decoration: none;
                                                        ">
                                                      <%= fromAddress %>
                                                    </span>
                                                  </td>
                                                </tr>
                                                <tr style="
                                                      vertical-align: top;
                                                      text-align: left;
                                                      width: 100%;
                                                      padding: 0;
                                                    " align="left">
                                                  <td style="
                                                        word-break: break-word;
                                                        border-collapse: collapse !important;
                                                        vertical-align: top;
                                                        text-align: left;
                                                        display: table-cell;
                                                        width: 80px !important;
                                                        line-height: 16px;
                                                        height: auto;
                                                        padding: 0 0 0 0;
                                                      " align="left" valign="top">
                                                    <span style="
                                                          font-size: 14px;
                                                          font-family: Helvetica,
                                                            'Helvetica Neue',
                                                            Arial, sans-serif;
                                                          font-weight: normal;
                                                          color: #000000 !important;
                                                        ">
                                                      <span>
                                                        <a style="
                                                              text-decoration: none !important;
                                                              color: #000000 !important;
                                                            " rel="noreferrer"><%= endTime %></a>
                                                      </span>
                                                    </span>
                                                  </td>
                                                  <td style="
                                                        font-family: Helvetica,
                                                          'Helvetica Neue',
                                                          Arial, sans-serif;
                                                        word-break: break-word;
                                                        border-collapse: collapse !important;
                                                        vertical-align: top;
                                                        text-align: left;
                                                        display: table-cell;
                                                        width: 197px;
                                                        line-height: 16px;
                                                        height: auto;
                                                        padding: 0 0px 0 0;
                                                        font-size: 12px;
                                                      " align="left" valign="top">
                                                    <span>
                                                      <%= toAddress %>
                                                    </span>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- bill details right sec -->
                            <table cellpadding="0" cellspacing="0" border="0" width="49.5%" align="left">
                              <tbody>
                                <tr>
                                  <td style="
                                        padding-right: 14px;
                                        padding-left: 14px;
                                      ">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" style="
                                                font-family: Helvetica,
                                                  'Helvetica Neue', Arial,
                                                  sans-serif;
                                                color: #333333;
                                                font-size: 16px;
                                                padding-bottom: 16px;
                                                font-weight: bold;
                                                border-bottom: 1px solid #d7d7d7;
                                              ">
                                            Bill Details
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#ffffff">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="
                                                  background-color: #f3f3f3;
                                                  margin-bottom: 15px;
                                                ">
                                              <tbody>
                                                <tr>
                                                  <td border="0" cellpadding="0" cellspacing="0" valign="top" style="
                                                        padding-top: 10px;
                                                        padding-bottom: 10px;
                                                        padding-left: 13px;
                                                        padding-right: 13px;
                                                        font-family: Helvetica,
                                                          'Helvetica Neue',
                                                          Arial, sans-serif;
                                                        color: #000000;
                                                        font-size: 14px;
                                                        font-weight: normal;
                                                        line-height: 18px;
                                                        width: 72%;
                                                      ">
                                                    Your Trip
                                                  </td>
                                                  <td align="right" style="
                                                        font-family: Helvetica,
                                                          'Helvetica Neue',
                                                          Arial, sans-serif;
                                                        color: #000000;
                                                        font-size: 14px;
                                                        font-weight: normal;
                                                        line-height: 18px;
                                                        width: 27%;
                                                        padding-right: 13px;
                                                        padding-top: 10px;
                                                        padding-bottom: 10px;
                                                      ">
                                                    <%= currency %> <%= baseFare %>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#ffffff">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td border="0" cellpadding="0" cellspacing="0" valign="top" style="
                                                        padding-top: 6px;
                                                        padding-bottom: 6px;
                                                        padding-left: 7px;
                                                        padding-right: 13px;
                                                        background-color: #f3f3f3;
                                                      ">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="72%"
                                                      style="width: 72%" align="left">
                                                      <tbody>
                                                        <tr>
                                                          <td align="left">
                                                            <table>
                                                              <tbody>
                                                                <tr>
                                                                  <td align="left" style="
                                                                        font-family: Helvetica,
                                                                          'Helvetica Neue',
                                                                          Arial,
                                                                          sans-serif;
                                                                        color: #000000;
                                                                        font-size: 16px;
                                                                        font-weight: bold;
                                                                        line-height: 18px;
                                                                      ">
                                                                    Total Bill
                                                                    <!-- <span
                                                                        style="
                                                                          font-family: Helvetica,
                                                                            'Helvetica Neue',
                                                                            Arial,
                                                                            sans-serif;
                                                                          color: #707070;
                                                                          font-size: 13px;
                                                                          font-weight: normal;
                                                                        "
                                                                        >(rounded
                                                                        off)</span 
                                                                      >-->
                                                                    <span style="
                                                                          font-family: 'Helvetica Neue',
                                                                            Helvetica,
                                                                            Arial,
                                                                            sans-serif;
                                                                          color: #707070;
                                                                          font-size: 13px;
                                                                        ">
                                                                      <br />
                                                                      Includes
                                                                      <%= currency %> <%= taxFare %>
                                                                      Taxes
                                                                    </span>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" border="0" width="27%"
                                                      style="width: 27%" align="right">
                                                      <tbody>
                                                        <tr>
                                                          <td align="left">
                                                            <table align="right">
                                                              <tbody>
                                                                <tr>
                                                                  <td style="
                                                                        font-family: Helvetica,
                                                                          'Helvetica Neue',
                                                                          Arial,
                                                                          sans-serif;
                                                                        color: #000000;
                                                                        font-size: 16px;
                                                                        font-weight: bold;
                                                                        line-height: 18px;
                                                                      ">
                                                                    <%= currency %> <%= finalFare %>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td style="
                                                        color: #ffffff;
                                                        line-height: 8px !important;
                                                        padding: 0 0 0 0;
                                                        font-size: 13px;
                                                      ">
                                                    <!-- <img
                                                        style="width: 100%"
                                                        src=" "
                                                        class="img"
                                                      /> -->
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#ffffff" style="
                                                padding-left: 7px;
                                                padding-top: 10px;
                                                padding-right: 13px;
                                                padding-bottom: 0px;
                                              ">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="left" style="
                                                        font-family: Helvetica,
                                                          'Helvetica Neue',
                                                          Arial, sans-serif;
                                                        color: #707070;
                                                        font-size: 13px;
                                                        line-height: 18px;
                                                      ">
                                                    Contact Support For Your Queries.
                                                    <!-- <a
                                                        href=""
                                                        style="
                                                          color: #5d93bb;
                                                          text-decoration: none;
                                                        "
                                                        rel="noreferrer"
                                                        target="_blank"
                                                        >support for this
                                                        ride.</a
                                                      > -->
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td style="
                                                        color: #ffffff;
                                                        line-height: 8px !important;
                                                        padding: 0 0 0 0;
                                                        font-size: 13px;
                                                      ">
                                                    <!-- <img
                                                        src=""
                                                        style="width: 100%"
                                                        class="img"
                                                      /> -->
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#ffffff">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td border="0" cellpadding="0" cellspacing="0" valign="top"
                                                    align="left" style="
                                                        padding-left: 10px;
                                                        padding-top: 5px;
                                                        padding-right: 10px;
                                                        padding-bottom: 0px;
                                                        font-family: Helvetica,
                                                          'Helvetica Neue',
                                                          Arial, sans-serif;
                                                        color: #707070;
                                                        font-size: 13px;
                                                        line-height: 18px;
                                                      ">
                                                    We've fulfilled our
                                                    promise to take you to
                                                    destination for pre-agreed
                                                    Total Fare.
                                                    <!-- Modifying the
                                                      drop/route can change this
                                                      fare. -->
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- phone pe and total payment -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" style="padding: 0 15px 0 15px">
            <table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="660">
              <tbody>
                <tr>
                  <td bgcolor="#ffffff" align="center" style="padding-left: 15px; padding-right: 15px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" style="
                                font-family: Arial, Helvetica, 'Helvetica Neue',
                                  sans-serif;
                                color: #000000;
                                font-size: 16px;
                                font-weight: bold;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #eeeeee;
                              ">
                            Payment
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td bgcolor="#ffffff" style="padding: 10px 15px 0 15px">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout: fixed">
                      <tbody>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="left" style="padding-left: 70px">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td width="30" style="width: 30px">
                                            <img style="
                                                  float: none;
                                                  display: inline;
                                                  width: 20px;
                                                " width="20" src="<%= paidByImage %> " alt="<%= paidBy %>"
                                              class="img" />
                                          </td>
                                          <td align="left" style="
                                                padding-bottom: 5px;
                                                padding-left: 8px;
                                                font-family: Arial, Helvetica,
                                                  'Helvetica Neue', sans-serif;
                                                color: #707070;
                                                font-size: 14px;
                                              ">
                                            <%= paidBy %>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td align="center" style="
                                font-family: Arial, Helvetica, 'Helvetica Neue',
                                  sans-serif;
                                color: #707070;
                                font-size: 14px;
                                padding-bottom: 5px;
                              ">
                            <%= currency %> <%= finalFare %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- visut our website and report -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" style="padding: 0 15px 0 15px">
            <table border="0" cellpadding="0" cellspacing="0" width="660">
              <tbody>
                <tr>
                  <td style="
                        background-color: #ffffff;
                        padding-left: 30px;
                        font-size: 13px;
                        font-family: Arial, Helvetica, 'Helvetica Neue',
                          sans-serif;
                        color: #777777;
                        padding-top: 16px;
                        padding-bottom: 15px;
                        border-top: 1px solid #eeeeee;
                      ">
                    For T&amp;C and Fare Details,<a style="text-decoration: none; color: #5d93bb"
                      href="<%= companyWeb %>">
                      visit our website</a>
                  </td>
                  <td style="
                        background-color: #ffffff;
                        padding-right: 15px;
                        font-size: 13px;
                        font-family: Arial, Helvetica, 'Helvetica Neue',
                          sans-serif;
                        color: #777777;
                        padding-top: 16px;
                        padding-bottom: 15px;
                        border-top: 1px solid #eeeeee;
                        text-align: center;
                      " align="center">
                    Didn't make this booking?<a style="text-decoration: none; color: #5d93bb"
                      href="javascript:void(0);"><span> Report it</span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- bottom banner -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" style="padding: 15px 0 0 0">
            <table border="0" cellpadding="0" cellspacing="0" width="660">
              <tbody>
                <tr>
                  <td>
                    <a href="javascript:void(0);">
                      <img src="https://wrapspeedtaxi.com/public/email_images/bottom_banner.jpg"
                        style="width: 660px; max-width: 100%" class="img" />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>